body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.tabs li {
  display: inline-block;
}
.tabs li button {
  display: block;
  color: #ccc;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tabs li button:hover {
  background-color: #333;
}
.tabs li button.active {
  background-color: #444;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
.tab-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.loading.active {
  display: block;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
